.container__profile {
    padding: 20px 0;
    background-color: var( --bg-menu-color);
    margin-bottom: 30px;
}

.profile__left {
    margin-right: 30px;
}

.profile__left-head {
    display: flex;
    padding: 15px 0;
}

.profile__left-head img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.profile__left-head-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 8px;
}

.profile__left-head-name span {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-color);
}

.profile__left-head-name a {
    font-size: 1.4rem;
    color: var(--color-infor);
}

.profile__left-list {
    margin-top: 20px;
}

.profile__left-option {
    padding: 10px 0;
}

.profile__left-option a:hover {
    color: var(--primary-color);
}


.profile__left-option a{
    color: var(--text-color);
    display: block;
    width: 100%;
}

.profile__right {
    background-color: var(--white-color);
    padding: 0 30px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.13);
    border-radius: 2px;
}

.profile__right-content {
    display: flex;
    /* flex-wrap: wrap; */
}

.profile__right-form {
    flex: 1;
    padding-right: 50px;
    max-width: 679px;
    overflow-y: auto;
}

.profile__right-head {
    margin-top: 5px;
    padding: 15px 0;
    border-bottom: 0.0625rem solid #efefef;
    display: flex;
    justify-content: space-between;
}

.profile__right-head h2{
    font-size: 2rem;
    font-weight: 300;
    margin: 0;
    margin-bottom: 5px;
}

.profile__right-head span {
    font-size: 1.41rem;
    color: rgb(100, 100, 100);
}

.profile__right-table td {
    padding-bottom: 25px;
    display: flex;
    /* width: 100%; */
}

.profile__right-table label {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--color-infor);
    width: 170px;
    padding-right: 20px;
    text-align: right;
    margin: auto 0;
}

.profile__right-table__gender input {
    width: 40px;
    height: 20px;
    font-size: 2rem;
}

.profile__right-input {
    flex: 1;
    max-width: 450px;
    height: 36px;
    border: 1px solid rgba(0,0,0,.14);
    padding: 8px 12px;
    outline: none;
    border-radius: 2px;
}

.profile__right-input::placeholder {
    /* text-align: center; */
    padding-left: 60px;
}

.profile__right-pic {
    width: 280px;
    display: flex;
    flex-direction: column;
}

.profile__right-pic img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 0px auto;

}

.btn__light:hover {
    color: var(--primary-color);
    border-color:  var(--primary-color);
}

.profile__right-pic span {
    display: flex;
    text-align: center;
    color: var(--color-infor);
    margin: 0 auto;
}

.profile__right-message {
    height: 40px;
    padding: 9px;
    border: 1px solid transparent;
    border-radius: 3px;
    color: #04b52a;
    background-color: #eefff1;
    border-color: #a8ecc7;
}