

.table__category {
    width: 60%;
    max-width: 60%;
    margin: 0 auto;
    
}

.table__product-title th div {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.table__category-id, 
.table__category-name,
.table__category-action {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--text-color);
    min-height: 40px;
    margin: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.table__category-action {
    justify-content: space-around;
}

.table__category-action a:hover {
    color: var(--hover-color);
}

.dialog-body__title {
    font-size: 1.5rem;
    color: var(--color-infor);
    margin-bottom: 20px;
}

.dialog-body__item {
    display: flex;
    margin: 15px 0;
}

.dialog-body__item span {
    width: 115px;
    text-align: left;
    margin: auto 5px;
}

.dialog__icon {
    color: var(--hover-color);
    margin: auto 2px;
}

.dialog-close-btn {
    position: absolute;
    top: 0;
    right: 8px;
    font-size: 2.6rem;
    color: var(--text-color);

}

.dialog-close-btn:hover {
    color: var(--hover-color);
}

.overlay-close {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: default;
}