/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 14, 2023, 11:36:58 PM
    Author     : admin
*/

.home__controll-main {
    border: none;
    margin-bottom: 50px;
}

.home__header-left {
    display: flex;
}


.home__controll-msError {
    height: 20px;
    margin: 10px 0;
    color: var(--primary-color);
    font-size: 1.45rem;
    font-weight: 400;
    margin-left: 30px;
}

.update__account {
    display: flex;
    align-items: center;
    text-align: left;
    margin-bottom: 24px;
}

.update__account span {
    min-width: 160px;
    color: var(--color-infor);
    font-size: 1.42rem;
    padding-bottom: 5px;
}

.account-icon {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-right: 12px;
}

.input__light {
    height: 40px;
}