/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 29, 2023, 8:07:51 PM
    Author     : admin
*/

.container-chart {
    padding-top: 20px;
    display: flex;
}

.main-chart {
    /* display: flex; */
    justify-content: space-around;
    background-color: var(--white-color);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    min-height: 750px;
}

.chart-text__describe {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 1.5rem;
    color: var(--color-infor);
}

.chart-shape {
    padding: 15px 20px;
    width: 86%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
}

.profile__left-option {
    display: flex;

}
.cart-icon {
    color: var(--primary-color);
}


.chart-box {
    padding: 15px 20px;
    width: 220px;
    display: flex;
    flex-direction: column;
    /* margin: 0 auto; */
    border: 1px solid #e5e5e5;
    border-top: 4px solid rgb(38, 115, 221);
    border-radius: 6px;
    padding: 16px 8px 16px 16px;
    min-width: 185px;
    background-color: var(--white-color);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .12);
}

.chart-box__title {
    font-size: 1.4rem;
    color: var(--text-color);
    height: 31px;

}

.chart-box__price,
.chart-box__order {
    font-size: 22px;

}

.chart-box__calcu {
    justify-content: space-between;
    display: flex;
    margin-top: 8px;
}

.chart-box__infor {
    font-size: 1.2rem;
    color: #999999;
}

.chart-box__percent {
    font-size: 1.4rem;

}